$white: #ffffff;
$black: #000000;
$blue: #14a9e7;
$deeper-blue: #0099ff;
$grey: #bbb;




$mobile: 'screen and (max-width: 480px)';
$phone: 'screen and (max-width: 767px)';
$tablet: 'screen and (max-width: 991px)';
$desktop: 'screen and (max-width: 1199px)';
$large: 'screen and (max-width: 1599px)';
$fullHD: 'screen and (max-width: 1920px)';
