<div class="tabs">
  <div class="tabs__buttons">
    <button class="tablink active" data-tab="tab1">Tab1</button>
    <button class="tablink" data-tab="tab2">Tab2</button>
  </div>
  <div id="tab1" class="tabs__tab">
    <div id="slider-1" class="slider" data-slides="2">
      <div>
        <div class="slides">
           <div class="slides__sl slide">
             <img class="slide__img" src="img/1.jpg" alt="disappointed cat">
             <h2 class="slide__title">Tab1 Title1</h2>
             <p class="slide__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid animi consectetur excepturi facilis</p>
             <span class="slide__info">Oct, 24 Something #1</span>
             <button id="btnModal" class="slide__button btnModal" data-number="1">more</button>
           </div>
        </div>
      </div>
      <div>
        <div class="slides">
          <div class="slides__sl slide">
             <img class="slide__img" src="img/2.jpg" alt="surprised cat">
             <h2 class="slide__title">Tab1 Title2</h2>
             <p class="slide__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid animi consectetur excepturi facilis</p>
             <span class="slide__info">Oct, 24 Something #2</span>
             <button id="btnModal" class="slide__button btnModal" data-number="2">more</button>
           </div>
        </div>
      </div>
      <div>
        <div class="slides">
           <div class="slides__sl slide">
             <img class="slide__img" src="img/3.jpg" alt="confused cat">
             <h2 class="slide__title">Tab1 Title3</h2>
             <p class="slide__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid animi consectetur excepturi facilis</p>
             <span class="slide__info">Oct, 24 Something #3</span>
             <button id="btnModal" class="slide__button btnModal" data-number="3">more</button>
           </div>
         </div>
      </div>
      <div>
        <div class="slides">
          <div class="slides__sl slide">
             <img class="slide__img" src="img/4.jpg" alt="winking cat">
             <h2 class="slide__title">Tab1 Title4</h2>
             <p class="slide__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid animi consectetur excepturi facilis</p>
             <span class="slide__info">Oct, 24 Something #4</span>
             <button id="btnModal" class="slide__button btnModal" data-number="4">more</button>
           </div>
        </div>
      </div>
    </div>
  </div>
  <div id="tab2" class="tabs__tab" style="display: none;">
      <div id="slider-2" class="slider" data-slides="2">
           <div>
             <div class="slides">
                <div class="slides__sl slide">
                  <img class="slide__img" src="img/1.jpg" alt="disappointed cat">
                  <h2 class="slide__title">Tab2 Title1</h2>
                  <p class="slide__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid animi consectetur excepturi facilis</p>
                  <span class="slide__info">Oct, 24 Something #1</span>
                  <button id="btnModal" class="slide__button btnModal">more</button>
                </div>
             </div>
           </div>
           <div>
             <div class="slides">
               <div class="slides__sl slide">
                  <img class="slide__img" src="img/2.jpg" alt="surprised cat">
                  <h2 class="slide__title">Tab2 Title2</h2>
                  <p class="slide__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid animi consectetur excepturi facilis</p>
                  <span class="slide__info">Oct, 24 Something #2</span>
                  <button id="btnModal" class="slide__button btnModal">more</button>
                </div>
             </div>
           </div>
           <div>
             <div class="slides">
                <div class="slides__sl slide">
                  <img class="slide__img" src="img/3.jpg" alt="confused cat">
                  <h2 class="slide__title">Tab2 Title3</h2>
                  <p class="slide__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid animi consectetur excepturi facilis</p>
                  <span class="slide__info">Oct, 24 Something #3</span>
                  <button id="btnModal" class="slide__button btnModal">more</button>
                </div>
              </div>
           </div>
           <div>
             <div class="slides">
               <div class="slides__sl slide">
                  <img class="slide__img" src="img/4.jpg" alt="winking cat">
                  <h2 class="slide__title">Tab2 Title4</h2>
                  <p class="slide__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid animi consectetur excepturi facilis</p>
                  <span class="slide__info">Oct, 24 Something #4</span>
                  <button id="btnModal" class="slide__button btnModal">more</button>
                </div>
             </div>
           </div>
         </div>
  </div>
</div>
<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close">x</span>
    <div id="sliderModal" class="sliderModal slider" data-dots="true" data-fade="true" data-ease="linear">
      <div>
        <div class="modalSlide">
          <div class="modalSlide__info text">
            <h2 class="text__title">Modal Tab1 Slide1</h2>
            <ul class="text__list">
              <li>text 1</li>
              <li>text 2</li>
              <li>text 3</li>
              <li>text 4</li>
            </ul>
            <span class="text__info">Oct, 24 Something #1</span>
          </div>
          <div class="modalSlide__img">
            <img src="img/1.jpg" alt="disappointed cat">
          </div>
        </div>
      </div>
      <div>
        <div class="modalSlide">
          <div class="modalSlide__info text">
            <h2 class="text__title">Modal Tab1 Slide2</h2>
            <ul class="text__list">
              <li>text 1</li>
              <li>text 2</li>
              <li>text 3</li>
              <li>text 4</li>
            </ul>
            <span class="text__info">Oct, 24 Something #2</span>
          </div>
          <div class="modalSlide__img">
            <img src="img/2.jpg" alt="surprised cat">
          </div>
        </div>
      </div>
      <div>
        <div class="modalSlide">
          <div class="modalSlide__info text">
            <h2 class="text__title">Modal Tab1 Slide3</h2>
            <ul class="text__list">
              <li>text 1</li>
              <li>text 2</li>
              <li>text 3</li>
              <li>text 4</li>
            </ul>
            <span class="text__info">Oct, 24 Something #3</span>
          </div>
          <div class="modalSlide__img">
            <img src="img/3.jpg" alt="confused cat">
          </div>
        </div>
      </div>
      <div>
        <div class="modalSlide">
          <div class="modalSlide__info text">
            <h2 class="text__title">Modal Tab1 Slide4</h2>
            <ul class="text__list">
              <li>text 1</li>
              <li>text 2</li>
              <li>text 3</li>
              <li>text 4</li>
            </ul>
            <span class="text__info">Oct, 24 Something #4</span>
          </div>
          <div class="modalSlide__img">
            <img src="img/4.jpg" alt="winking cat">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


