.slider {
    width: 50%;
    margin: 0 auto;
    @media #{$tablet} {
        width: 60%;
    }
    @media #{$phone} {
        width: 80%;
    }
    @media #{$mobile} {
        width: 80%;
    }
}

.slick-prev,
.slick-next {
    width: 30px;
    height: 30px;
    top: 50%;
    opacity: 1;
    border-radius: 4px;
}

.slick-prev {
    position: absolute;
    left: -9%;
    background-color: #14a9e7;
    @media #{$phone} {
       left: -6%;
    }
    @media #{$mobile} {
        left: -11%;
    }
    &:hover, &:focus {
        background-color: #0099ff;
    }
    &:before {
        position: absolute;
        content: '';
        opacity: 1;
        top: 19%;
        left: 27%;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-radius: 3px;
        border-right:10px solid $white;
    }
    &:after {

    }

}
.slick-next {
    right: -9%;
    background-color: #14a9e7;
    @media #{$phone} {
        right: -6%;
    }
    @media #{$mobile} {
        right: -11%;
    }
    &:hover, &:focus {
        background-color: #0099ff;
    }
    &:before {
        position: absolute;
        content: '';
        opacity: 1;
        top: 19%;
        left: 36%;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-radius: 3px;
        border-left:10px solid $white;
    }
}



